*.nuspec

# Ignorar resultados de compilación
**/bin/
**/obj/
**/artifacts/
**/publish/

# Ignorar archivos de salida de pruebas
TestResults/

# Ignorar archivos de logs y temporales
*.log
*.tmp
*.temp

# Ignorar archivos de configuración local
appsettings.Development.json

# Ignorar archivos de la carpeta de dependencias
.vs/
.vscode/
.nuget/

# Ignorar archivos de la base de datos local
*.db
*.sqlite

# Ignorar archivos de la carpeta de herramientas
tools/

# Ignorar archivos de usuario específicos
*.user
*.suo
*.userprefs